PORT=
MONGO_URI=mechrobot2026_db_user
JWT_SECRET=rwmzXtb6OSj8Bhk7

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_USER=
EMAIL_PASS=
ADMIN_EMAIL=

ADMIN_PASSWORD=
CLIENT_URL=
NODE_ENV=